body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #E6E6E6;
    width: 200px;
}

.nav-button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #E6E6E6;
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.nav-button.active {
    background-color: rgb(220,10,49);
    color: white;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

section:nth-child(odd) {
    background-color: #f9f9f9;
}


.card {
    --bg-color: #f9f9f9;
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
  }

  
  .words {
    overflow: hidden;
    position: relative;
    height: 300px;
  }
  .words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      var(--bg-color) 0%,
      transparent 5%,
      transparent 95%,
      var(--bg-color) 100%
    );
    z-index: 10;
  }
  
  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    animation: spin 10s infinite;
  }
  .word img {
    max-height: 100%;
    display: block;
  }
  

.item{
    display: flex;
    text-align: center;
    width: 800px;
    height: 500px;
    transition:  0.5s;

}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
      }

.footer {
        background-color: rgb(212, 212, 212);
        color: black;
        padding: 10px;
        text-align: center;
        align-items: center;
        border-bottom: 2px solid rgb(220,10,49);
        border-top: 2px solid rgb(220,10,49);
    }

@keyframes spin {
    51% { /* 100% dividido por el número de imágenes + 1 */
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(-200%);
      }
}
  


@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .buttons {
        width: 100%;
        flex-flow: column nowrap;
        padding: 0px 0;
        position: fixed;
        top: -8.5%;
        left: 0;
        z-index: 10;
    }

    .nav-button {
        margin: 0;
        padding: 8px;
        font-size: 14px;
    }

    .container {
        margin-top: 60px; /* Espacio para los botones en el encabezado */
    }

    .content {
        height: calc(100vh - 60px); /* Ajusta la altura del contenido para dispositivos móviles */
        overflow-y: auto;
        padding-top: 20px;
    }

    section {
        min-height: calc(100vh - 60px); /* Ajusta la altura mínima de las secciones */
    }

    .words {
        overflow: hidden;
        position: relative;
        height: 180px;
      }

    .item{
    display: flex;
    text-align: center;
    width: 300px;
    height: 200px;
    transition:  0.5s;
    }
}
